{% extends "layout.html" %}

{% block head %}
    <title>Browse recipes!</title>
{% endblock %}

{% block body %}

    <div class="browseMainDiv">
        <div class="browseDiv">
            <h1 class="browseHeader">All My Recipes</h1>
            <div style="justify-content:left; width:100%;">
                <ul>
                {% for recipe in recipes %}
                    <li class="listItem">
                        <a href="/viewRecipe/{{ recipe.id }}">{{ recipe.title }}</a>
                        {% for mt in recipe.get_tag_list %}
                            <a href="/browseRecipes/{{ mt }}" class="badge badge-success">{{mt}}</a>
                        {% endfor %}
                    </li>
                {% empty %}
                    <li class="listItem">No recipes found :( </li>
                {% endfor %}
                </ul>
            </div>
            <div style="margin-top:10px;">
                <button onclick="location.href='{% url 'addRecipe' %}'" class="button">
                  Please add a new recipe!
              </button>
            </div>
        </div>
    </div>

{% endblock %}