{% extends "layout.html" %}

{% block head %}
    <title>Browse recipes!</title>
{% endblock %}

{% block body %}

    <div class="browseMainDiv">
        <form method="get" action="{% url 'browseRecipe' %}">
            <input class="searchBar"
                type="text"
                name="query"
                value="{{ query|default:'' }}"
                placeholder="Search recipes..."
            />
            <button class="searchButton" type="submit">Search</button>
        </form>
      <h1 class="browseHeader">All My Recipes</h1>
      <div class="gridContainer">

        {% for recipe in recipes %}
          <div class="gridItem" onclick="location.href='/viewRecipe/{{ recipe.id }}';">
              <h3>{{ recipe.title }}</h3>
              <hr>
              {% if recipe.image %}
                <div class="recipeImage">
                    <img src="{{ recipe.thumbnail.url }}" alt="{{ recipe.title }}">
                </div>
              {% endif %}
            {% for mt in recipe.get_tag_list %}
                <a href="/browseRecipes?tags=[{{ mt }}]" class="badge badge-success">{{mt}}</a>
            {% endfor %}
          </div>
        {% empty %}
            <h3 class="listItem">No recipes found :( </h3>
        {% endfor %}

      </div>
    </div>

{% endblock %}