{% extends "layout.html" %}

{% block head %}
    <title>View recipes!</title>
{% endblock %}

{% block body %}

    <div class="mainDiv">
        <h1> {{ recipe.title }} </h1>
        <div>
            {% autoescape off %}
            Prep time: {{ prepTime }}<br>
            Cook time: {{ cookTime }}<br>
            Combined time: {{ combinedTime }}<br>
            Servings: {{ recipe.servings }}<br>
            Tags: {% for mt in tags %}
                <a href="#" class="badge badge-success">{{mt}}</a>
            {% endfor %}
            </br>
            Ingredients: {{ formattedIngredients }}
            Instructions: {{ formattedInstructions }}
            {% endautoescape %}
        </div>

        <!-- Edit a recipe is done through an addRecipe page with auto populated data --->
        <div>
            <form action="{% url 'editRecipe' prev_id=recipe.id %}">
                <button class="button" type="submit" value="Edit Recipe" >
                    Edit Recipe
                </button>
            </form>
            <form action="{% url 'deleteRecipe' id=recipe.id %}">
                <button class="button" style="background-color:red;" type="submit" value="Delete Recipe" >
                    Delete this Recipe
                </button>
            </form>
        </div>

    </div>

{% endblock %}